# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/

# Environnements virtuels
.venv/
venv/
env/
.env

# Éditeurs
.vscode/
.idea/
*.swp
*.swo
*~

# Tests & couverture
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# OS
.DS_Store
Thumbs.db

# Oktopios
*.okp.log
native_functions.md
